.page {
  display: flex;
  flex-direction: column;
  height: 92vh;
  font-family: Arial, sans-serif;
}

/* Top bar */
.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #000;
}

.searchContainer {
  display: flex;
  align-items: center;
  flex: 1;
  border: 1px solid #000;
  border-radius: 4px;
  overflow: hidden;
  max-width: 50%;
}

.searchInput {
  flex: 1;
  padding: 0.5rem;
  border: none;
  outline: none;
}

.searchButton {
  background: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.topButtonsContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.controlButton,
.controlDropdown {
  background: black;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  font-size: 0.95rem;
  cursor: pointer;
  min-width: 140px;
}

.controlDropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  text-align-last: center;
}
.controlDropdown:hover {
  background: white;
  color: black;
}
.controlDropdown option {
  background: white;
  color: black;
}

.controlGroup {
  display: flex;
  align-items: center;
  gap: 6px;
}

.controlLabel {
  font-weight: 500;
  margin-right: 4px;
}


.topButton {
  background: black;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
}

/* Layout below the top bar */
.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Left = Character cards */
.characterArea {
  flex: 3;
  border-right: 1px solid #000;
  overflow-y: auto;
}

/* Right = Sidebar */
.sidebar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

.newCharacterButton {
  padding: 0.8rem 1.2rem;
  background: black;
  color: white;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  width: auto;
  min-width: 180px;
}
