.container {
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}
.user-info-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}